<!-- templates/book_detail.html -->

{% extends 'base.html' %}

{% block content %}
<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      text-align: center;
    }
</style>
<table style="width:50%">
    <tr>
        <th>Book Name</th>
        <td><h2 style="color:#f073d7">{{ object.book_name }}</h2></td>
    </tr>
    <tr>
        <th>Book Author</th>
        <td style="color:#16b3f6"><p>{{ object.book_author }}</p></td>
    </tr>
</table>
<br/>
    {% if request.user.is_authenticated %}
        <p>
            <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger ml-2">Delete</a>
        </p>
    {% endif %}
    <p><span style="font-size: 50%" class="text-muted">by {{ request.user }} | {{ object.date_created }}</p></span>
    <p>Back to <a href="{% url 'book_all' %}">All Books</a></p> 
{% endblock content %}